@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;800&display=swap');

@font-face {
  font-family: "Grifter";
  src: url('./assets/fonts/grifterbold.otf')
}

@font-face {
  font-family: "Source serif";
  src: url('./assets/fonts/source-serif-pro.regular.ttf')
}

@layer components {

  .wrapper{
    @apply w-[95%] max-w-[90rem] ml-[auto] mr-[auto]
  }

  .full-bleed{
    @apply w-[100vw] ml-[calc(50%-50vw)]
  }

  .btn-primary{
    @apply font-grifter rounded-lg tracking-wide text-primary-500 bg-secondary-700 text-xl xl:text-3xl xl:py-3 xl:px-6 py-2 px-4 shadow-[4px_4px_0px_#FFFDB4]
  }

  .form-input{
    @apply bg-primary-600 font-semibold border-2 border-white/50 text-white text-xs rounded-2xl placeholder:text-white/50 placeholder:text-xs
  }
}
