@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;800&display=swap');

@font-face {
  font-family: "Grifter";
  src: url('./assets/fonts/grifterbold.otf')
}

@font-face {
  font-family: "Source serif";
  src: url('./assets/fonts/source-serif-pro.regular.ttf')
}

@layer components {
  .full-bleed{
    @apply w-[100vw] ml-[50%] -translate-x-[50%]
  }

  .wrapper{
    @apply w-[95%] max-w-[90rem] ml-[auto] mr-[auto]
  }
}